<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>
<body>
    <form method="post" >
      <fieldset>
        <legend>SignUp</legend>
        <table>
          <tr>
            <td>Name:</td>
            <td><input type="text" name="name"></td>
          </tr>
          <tr>
            <td>User Name</td>
            <td><input type="text" name="username"></td>
          </tr>
          <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
          </tr>
          <tr>
            <td><label><b>Phone:</b></label></td>
            <td><input type="text" placeholder="Enter phone no" name="phone" required></td>
          </tr>
          <tr>
            <td><label><b>Email:</b></label></td>
            <td><input type="text" placeholder="Enter Email" name="email" required></td>
          </tr>
          <tr>
            <td><label><b>Address:</b></label></td>
            <td><input type="text" placeholder="Enter Password" name="address" required></td>
          </tr>

          <tr>
            <td>Gender:</td>
            <td><input type="radio" name="gender" value="male">Male</br>
            <input type="radio" name="gender" value="female">Female</br>
            <input type="radio" name="gender" value="other">Other</td>
          </tr>
          <tr>
            <td><label>Select image:</label></td>
            <td><input type="file" id="img" name="image" accept="image/*"></td>
            <tr>
              <td><label>Membership:</label></td>
              <td><select name="membership">
              <option value="Gold">Gold</option>
              <option value="Silver">Silver</option>
              <option value="Bronze">Bronze</option>
              <option value="None">None</option>
              </select></td>
          </tr>
          <tr>
            <td><input type="submit"></td>
          </tr>
          </tr>
        </table>
      </fieldset>
    </form>
</body>
</html>